NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=
DB_PW=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
SCRAPER_MANUAL_RUN_TOKEN=
VERCEL_PROJECT_PRODUCTION_URL=
